.App {
  text-align: left;
}

/* 
Colorscheme:
primary - #37d1cc
text - #fff
bg - #444444
*/

body {
  background-color: #444444;
  color: #fff;
}

header {
  background-color: #444;
  height: 120px;
  width: 80%;
  margin-left: 10%;
  display: flex;
}

header img{
  height: 120px;
  width: 120px;
}

header a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #333;
  background-color: #333;
  height: 30px;
}

header a:hover{
  border: 1px solid #37d1cc;
}