.App {
  text-align: left;
}

/* 
Colorscheme:
primary - #37d1cc
text - #fff
bg - #444444
*/

body {
  background-color: #444444;
  color: #fff;
}

header {
  background-color: #444;
  width: 80%;
  margin-left: 10%;
  display: flex;
  border-bottom: #37d1cc 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

nav {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 40px;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav * {
  display: inline;
  
  text-decoration: none;
  color: #fff;
}

nav ul li{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: .5s;
}

nav ul li:hover {
  background-color: #37d1cc;
}

header img{
  height: 120px;
  width: 120px;
}

header a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #333;
  background-color: #333;
  height: 30px;
}

header a:hover{
  border: 1px solid #37d1cc;
}

main{
  margin-top: 120px;
}