@font-face {
  font-family: "TitilliumWeb";
  src: local("TitilliumWeb"),
   url("./fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: bold;
 }

body {
  margin: 0;
  font-family: TitilliumWeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

